/* HTML RESET */
body {
    margin:0;
}

/* FONTS */
@font-face {
    font-family: openSansHebrewRegular;
    src: url('./fonts/OpenSansHebrew-Regular.ttf');
}

@font-face {
    font-family: robotoSlabLight;
    src: url('./fonts/RobotoSlab-Light.ttf');
}

/* HEADER */
header {
    padding-top: 10px;
    background-color: #262A2F;
}

.logo {
    margin-left: 350px;
}

ul {
    margin-right: 350px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    float: right;
    margin-top: 20px;
}

li {
    float: left;
}

li a {
    font-family: openSansHebrewRegular;
    font-size: 14px;
    display: block;
    color: #C8C9C6;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #253039;
}

/* SECTIONS */

/* FIRST SECTION */

.first-section .fs-first-block {
    background-color: #262A2F;
    height: 300px;
}

.first-section .fs-first-block h1 {
    font-family: openSansHebrewRegular;
    font-size: 40px;
    text-align: center;
    color: white;
    margin: auto;
    width: 50%;
}

.first-section .fs-first-block img {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-top: -160px; /* Half the height */
    margin-left: -300px; /* Half the width */
}

.first-section .fs-second-block {
    display: inline-flex;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 100px;
}

.first-section .fs-second-block div {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.first-section .fs-second-block h2 {
    font-family: robotoSlabLight;
}

.first-section .fs-second-block p {
    font-family: openSansHebrewRegular;
    line-height: 200%;
}

.first-section .first-section-footer {
    text-align: center;
    margin-top: 50px;
}

/* SECOND SECTION */
